<a href="https://colab.research.google.com/github/Dagnne/TalentoTechDag/blob/main/Practica_2_12022024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Suma de Variables

In [38]:
# variables e input - entrada

num1= 10
num2= 12

# process
suma = num1 + num2

# output - salida
print(suma)

22

Conexion con Drive

In [39]:
from google.colab import drive # Traemos la clase drive dentro del modulo Colab, del paquete google
drive.mount ('/content/drive/') # Establecemos la conexion mediante el metodo mount

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [40]:
# Establezco la conexion con mi fuente y con el Dataset de prueba
path = ('/content/drive/MyDrive/Analisis de Datos basico Talento Tech/ArchivoBase.xlsx') # Esta es la ruta de acceso utilizando el medoto path

In [41]:
# importar desde pandas
import pandas as pd

In [42]:
df = pd.read_excel(path) # Tener en cuenta el uso de mayusculas y minusculas, si no, puede generar error

In [ ]:
df.head(20)

# Segunda Pr√°ctica

In [44]:
# Paso 1: Ingresar las librerias requeridas
# Paso 2: Debo tener el archivo en una carpeta
# Paso 3: Debo establecer una conexion con la carpeta
# Paso 4: Ejecutar la celda de la conexion y revisar que este ok

In [45]:
# Importamos la libreria para manipulacion de datos llamada Pandas
import pandas as pd

In [46]:
# Creamos un dataframe de pandas con los datos suministrados
df = pd.read_excel(path)

# **Creacion y Lectura de Dataframe**

pd.DataFrame(data): Crea un Dataframe a partir de datos

pd.read_csv('Archivo.csv'): Lee un archivo csv y crea un dataframe

pd.read_excel('Archivo.xlsx'): Lee un archivo excel y crea un dataframe

## **Visualizacion y exploracion de datos**
df.head (): Muestra las primeras filas del dataframe

df.tail (): Muestra las ultimas filas del dataframe

df.info (): Muestra informacion sobre el dataframe, incluyendo tipos de datos y valores no nulos

df.describe (): Proporciona estadisticas descriptivas para columnas numericas

df.shape: Devuelve una tupla con la cantidad de filas y columnas del dataframe

df.columns: Devuelve una lista con los nombresde las columnas del dataframe

In [ ]:
df.head() # Muestra las primeras filas del dataframe

In [ ]:
df.tail() # Muestra las ultimas filas del dataframe

In [ ]:
df.info() # Muestra informacion sobre el dataframe, incluyendo tipos de datos y valores no nulos

In [ ]:
df.describe() # Proporciona estadisticas descriptivas para columnas numericas

In [ ]:
df.shape # Devuelve una tupla con la cantidad de filas y columnas del dataframe

In [ ]:
df.columns # Devuelve una lista con los nombresde las columnas del dataframe

In [ ]:
# Ejercicio 1: Mostrar las primeras filas del dataframe
print('Ejercicio 1: Mostrar las primeras filas del dataframe')
print(df.head(10))

In [ ]:
# Ejercicio 2: Calcular el total de ventas por region
print('Ejercicio 2: Calcular el total de ventas por region')
Ventas_por_region = df.groupby('Region')["Ventas"].sum()
print(Ventas_por_region)
print("\n")
print(df.head(10))

In [ ]:
# Ejercicio 3: Filtras el DataFrame para mostrar solo las ventas realizadas por David
print("Ejercicio 3: Filtras el DataFrame para mostrar solo las ventas realizadas por David")
ventas_david = df[df['Vendedor'] == 'David']
print(ventas_david)
print("\n")

In [ ]:
# Ejercicio 4: Calcular el promedio de ventas por producto
print('Ejercicio 4: Calcular el promedio de ventas por producto')
ventas_por_producto = df.groupby('Producto')['Ventas'].mean()
print(ventas_por_producto)
print("\n")

In [ ]:
# Ejercicio 5: Ordenar el DataFrame por ventas en orden descendente
print("Ejercicio 5: Ordenar el DataFrame por ventas en orden descendente")
df_ordenado = df.sort_values(by='Ventas', ascending=False) # Para ordenar de manera ascendente se cambia False por True o se deja el codigo hasta (by'Ventas') ya que por defecto queda ascendente segun regla SQL
print(df_ordenado)

# Manipulacion de datos

Filtrar las filas dodnde las ventas sean mayores a 10000

Ordenar el DataFrame por la columna "Ventas" en orden descendente (Ejercico 5)

Eliminar la columna "Vendedor"

In [ ]:
# Ejercico 6: Filtrar las filas con valores superiores a 10000
print('Ejercico 6: Filtrar las filas con valores superiores a 10000')
df_filtrado = df[df['Ventas']>1000]
print(df_filtrado)
print('/n')

In [ ]:
# Ejercicio 8: Eliminar la columna "Vendedor"
print('Ejercicio 8: Eliminar la columna "Vendedor"')
df_sin_vendedor = df.drop(columns=['Vendedor'])
print(df_sin_vendedor)
print('/n')

# Agregacion y agrupacion de datos

Calcular el total de ventas por region

Calcular el total de ventas por producto

In [ ]:
# Ejercico 9: Total de Ventas por Region
print('Ejercico 9: Total de Ventas por Region')
Ventas_por_region = df.groupby('Region')['Ventas'].sum()
print(Ventas_por_region)
print('\n') # Se puede colocar barra inclinada (slash /) o Backslash (\) y no influye en el resultado

In [ ]:
# Ejercicio 10: Total de ventas por producto
print('Ejercicio 10: Total de ventas por producto')
ventas_por_producto = df.groupby('Producto')['Ventas'].sum()
print(ventas_por_producto)
print('\n')

In [91]:
# Crear un DataFrame en pandas
Data = {
    'id': ['1','2','3','4','5','3','5'],
    'weight': ['144.5', '167.2', '124.1', '144.5', '133.2','124.1','129.2'],
    'Height': [5.9, 5.4, 5.2, 5.9, 5.7, 5.2, 5.3],
    'Age': ['33','45','23','33','54','23','42'], # Colocar valores numericos como datos string no afecta al correr el codigo y viceversa
    'Gender': ['M', 'M', 'F', 'M', 'F', 'F', 'M'], # Cuando las variables no son valores numericos es necesario colocarlas como string
}

df_persona = pd.DataFrame(Data)

In [ ]:
df_persona.head() # El DataFrame muestra los datos ordenados y ademas estructurados, permite convertir en tabla interactiva y mostrar los datos en graficos

In [ ]:
print(df_persona) # Tambien se puede usar el comando "print()" para mostrar datos ordenados

In [ ]:
df_persona.info() # Informacion del DataFrame

In [ ]:
# Mostramos la cantidad de registros antes de aplicar una transformacion, limpieza o filtro
print(f'Tama√±o del set antes de eliminar las filas repetidas:{df_persona}')
df_persona.drop_duplicates(inplace=True)
# Mostramos la cantidad de registros despues de aplicar una transformacion, limpieza o filtro
print(f'Tama√±o del set despues de eliminar las filas repetidas:{df_persona}')